#ContentantDesPoules {
    border : 2px solid black;
    color : black;
    display: flex;
}

.poules {
    border-right: 2px solid black;
    border-left: 2px solid black;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}